.nav-link.cart {
    color: rgba(255,255,255,.5);

    &:hover {
        color: rgba(255,255,255,.75);
    }

    &.active {
        color: #fff;
    }
}

table.cart {
    & th, & td {
        vertical-align: middle;
    }
}
